/* .background {
        background-image: url("stadium.jpg");
        background-size: cover;
        background-position: center;
        } */

.title {color: red}
.title2 {color: white}

/* body {background-image: ur("stadium.jpg"); */
/* } */
/* .fa-amazon { color: red; } */
/* .jumbotron { */
  /* background-image: ur("stadium.jpg"); */

/* } */
